.rowCategory, .rowRecord{
  row-gap: 1rem;
  margin-bottom: 2rem;
}

.category{
  width: 100%;
  aspect-ratio: 3/2;
  background: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .title{
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.1;
    color: var(--yellow);
    text-align: center;
    padding: 0 0.5rem;
  }

  .divider{
    height: 1px;
    width: 56px;
    background: var(--white);
    margin: 0.75rem 0;
  }

  .description{
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    color: var(--white);
  }
}

.rowRecord{
  .topContent{
    position: relative;
  }

  img{
    width:100%;
    aspect-ratio: 3/2;
    object-fit: cover;
  }

  .title{
    position: absolute;
    bottom: 0;
    padding: 0.5rem;
    font-size:15px;
    font-weight: 400;
    color: var(--white);
    background: var(--yellow);
  }

  .content{
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0.075px;
  }

  .tags{
    display: flex;
    gap: 0.5rem;
    font-family: Hiragino Kaku Gothic Pro;
    font-size: 12px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0.06px;
  }
}

.btnWrapper{
  text-align: center;
  margin-top: 2rem;

  .moreBtn {
    background: linear-gradient(32.95deg, #FFCC21 8.75%, #FF963C 86.64%);
    border-radius: 2px;
    padding: 0.5rem 2rem;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    color: var(--white);
    text-align: center;
  }
}