.wrapper {
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  height: 64px;
  padding: 0.5rem 3rem;
  background: var(--grey);

  @media (min-width: 768px) {
    padding: 0.5rem 8rem;
  }
}

.content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo{
  cursor: pointer;
}

.navsWrapper {
  display: flex;
  gap: 2rem;
  align-items: center;

  .nav {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
  }
  .navTitle{
    color: var(--white);
  }

  .hambugerIcon{
    cursor: pointer;
    margin-left: 1rem;
  }
  .drawerMenu{
    position: absolute;
    right: 0;
    top: 56px;
  }
}
