.wrapper {
  width: 100%;
  display: flex;
  gap: 3rem;
  height: 128px;
  padding: 0.5rem 3rem;
  background: var(--grey);
  align-items: center;
  justify-content: space-around;
  color: var(--white);
  font-weight: 300;
  font-size: 11px;

  @media (min-width: 768px) {
    padding: 0.5rem 8rem;
  }
}