.row{
  row-gap: 1rem;
}
.wrapper {
  width: 100%;
  padding: 2rem 3rem;
  background: var(--grey);
  color: var(--white);
  font-weight: 300;
  font-size: 11px;

  @media (min-width: 768px) {
    padding: 2rem 8rem;
  }
}